header {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("header.jpg");
    header: 100%;
}

body {
    margin: auto;
    text-align: center;
    background-color: #E4E4E4;
}

.rest {
    padding-top: 40px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 40px;
}

.textEntry {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 0 2em;
    box-sizing: border-box;
}

input[type=text] {
    border-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none !important;
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 1em;
    border-width: 0;
    outline: 0;
    text-align: left;
    font-size: 15px;
    height: 2em;
    width: 100%;
    padding: 2em;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
}

.addWrapper{
    padding: 0 2em 0 2em;
    margin-left: 40px;
    cursor: pointer;
    background-color: #f09;
    border-radius: 1em;
    box-sizing: border-box;
    transition: background-color 0.25s;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
}

.addWrapper:hover{
    background-color: #cc007a;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0);
}


.task {
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F4F4F4;
    padding: 0.8em;
    border-radius: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 0.95;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
    transition: box-shadow 0.25s;
    transition: opacity 0.25s;
}

.done {
    opacity: 0.4;
}

.task:hover {
    opacity: 1;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.13);
}

.done:hover {
    opacity: 0.6;
}

.checkbox {
    margin: 0 20px 0 5px;
    flex-shrink: 0;
}

.taskText {
    text-align: left;
    /* width: 100%; */
    margin: 0;
    flex-grow: 100;
}

.delete {
    opacity: 0;
    visibility: hidden;
    margin: 0 5px 0 20px;
    transition: opacity 0.25s;
}

.task:hover .delete{
    visibility: visible;
    opacity: 1;
}

h1, h2 {
    font-family: Nunito Sans;
}

h1 {
    font-weight: 700;
    font-size: 50px;
    color: white;
}

h2 {
    color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p {
    font-family: Nunito Sans;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  color: grey;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
